body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: #000000;
    text-align: center;
}

.degrade{
    background: linear-gradient(to bottom, #eb8303, #000000);
}


.degrade-2{
    background: linear-gradient(to bottom, #000000, #041d3b);
}

.header {
    padding: 50px 0;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
}
.header p {
    font-size: 1.2em;
    margin-top: 10px;
}
.highlight {
    color: #00ff00;
}
.main-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.video{
    margin: 8px;
    max-height: 350px;
}

.calendly-container {
    margin: 0px 0;
    
    
}

.calendly-inline-widget{
    max-height: 470px;    
    margin: 30px;
    

    
}

/* Basic styling */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.video-container {
    width: 220px; /* Adjust width as needed */
    position: relative;
}

.main-video-container {
  position: relative;
  background-color: #4a230d;
  display: flex;
  /* Ajustar la altura del marco */
  margin: 10 auto; /* Centrar el marco en la página */
  border: 2px medium #838382; /* Agregar un borde negro */
  border-radius: 7px; /* Agregar esquinas redondeadas */
}


.main-video-container iframe {
  width: 390px;
  height: 220px;

}

.video {
    width: 90%;
    height: 500px; /* Adjust height as needed */
    object-fit: cover;
}

.boton-container {
    background-color: #000000;
}

.video-info {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 80%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
}

.video-title {
    margin-bottom: 5px;
}

.video-description {
    font-size: 0.8rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .video-gallery {
        flex-direction: column;
    }

    .video-container {
        width: 100%;
    }
}
.button {
    --😀: #f19f24;
    --😀😀: #ecad4f;
    --😀😀😀: #dbff4d3e;
    cursor: pointer;
    width: 300px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀));
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .button:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
  }

  .container {
    /* Basic dimensions and centering */
    width: 100%;
    height: 100%;
  
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  


.Who-are-we {
    background-color: #000000;
    color: #da9526;
    margin-left: 5%;
    margin-right: 5%;
}

.Testimonios{
    color: rgb(233, 233, 233);
}